**

!.SpaceVim
!.SpaceVim.d/init.toml
!.aws/config
!.bash_profile
!.bash_profile
!.config/htop/htoprc
!.config/karabiner/assets/complex_modifications
!.config/karabiner/karabiner.json
!.config/neofetch/config.conf
!.config/oni/
!.dir_colors
!.docker
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmodules
!.hammerspoon/init.lua
!.hammerspoon/keyboard
!.hammerspoon/Spoons
!.inputrc
!.iterm2_shell_integration.zsh
!.keyboard
!.oh-my-zsh
!.zshrc
